@font-face {
    font-family: 'Eagle Book';
    src: url('font/eagle-book-font.woff2') format('woff2'),
         url('font/eagle-book-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    font-family: "Inter", serif;
}
h1,h2,h3,h4,h5 {
    font-family: 'Eagle Book';
}
img {
    border: var(--sugar-border-width) solid var(--s-color-bg-85-fg);
    border-radius: var(--s-block-radius);
}
img:hover {
    cursor: pointer;
    opacity: 0.7;
}
div a {
    border:none;
}
div a:hover {
    border:none;
}
div i a:hover {
    border-bottom: 1px solid var(--s-color-primary);
}

header img {
    border: none;
}

.primary-background-color {
    background-color: var(--s-color-primary);
}
.primary-color {
    color :var(--s-color-primary);
}

.wallpaper {
    border: var(--sugar-border-width) solid var(--s-color-bg-85-fg);
}

dialog article header {
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0;
}

dialog article img {
    visibility: hidden;
}